<app-navbar></app-navbar>
<div class="bg-1 text-center">   
<br/><br/>
<div class="container">
  <h1>Rechercher une équipe par groupe</h1>
  <br/><br/>
    <a href="groupe-a" class="btn btn-default">Groupe A</a>
    <a href="groupe-b" class="btn btn-default">Groupe B</a><br/>
    <a href="groupe-c" class="btn btn-default">Groupe C</a>
    <a href="groupe-d" class="btn btn-default">Groupe D</a><br/>
    <a href="groupe-e" class="btn btn-default">Groupe E</a>
    <a href="groupe-f" class="btn btn-default">Groupe F</a>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
