<app-navbar></app-navbar>
<div class="bg-1 text-center">
<br/>
   <h1>Rencontres</h1><br><br>
    
    <div class="item">
      <img class="center-block" src="assets/suu.gif" alt="suu"/>
    </div>
    <br/><br/>
              <a href="liste-rencontre" class="btn btn-default" >Lister toutes les rencontres</a>
              <a href="creer-rencontre" class="btn btn-default" >Créer une rencontre</a>
              <a href="supprimer-rencontre" class="btn btn-default" >Supprimer une rencontre</a>  
<br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
    </div>
