<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<app-navbar></app-navbar>
<div class="bg-1">
<div class="container-fluid">
<h1 class="text-center">Création d'une équipe</h1>   
<h3 class="text-center">Dans quel groupe souhaitez-vous ajouter cette équipe ?</h3>
<br><br>
<form [formGroup]="creerEquipe" (ngSubmit)="callingFunction()" class="text-center" routerLink="/equipes" method="get">
        <input type="text" formControlName="lettre" placeholder="Entrez le nom du groupe"><br>
        <input type="text" formControlName="equipe" placeholder="Entrez le nom de l'équipe"><br><br>
    <input type="submit" name="Créer le groupe">
</form>
    

    
 

<!--form (ngSubmit)="onSubmit(f)" #f="ngForm">
<button class="btn btn-primary" type="submit">Créer le groupe</button-->
    
    
<!--form id="myChatForm" action="add_equipe" method="get">
    <input type="text" name="lettre" placeholder="Entrez le nom du groupe"><br>
    <input type="text" name="equipe" placeholder="Entrez le nom de l'équipe"><br><br>
    <input type="submit" name="Créer le groupe">
    
    <!--a href="add_groupe" class="btn-primary btn-lg" role="button">Créer le groupe</a>
</form-->
    

<br/><br/><br/><br/><br/><br/><br/>
<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
</div>