<app-navbar></app-navbar>
<div class="bg-1 text-center">
    <br/>
  <h1>Liste de toutes les équipes</h1>
<br/>
  <div class="table-responsive">          
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Equipe</th>
        <th class="text-center">Groupe</th>
      </tr>
    </thead>
    <!--tbody>
    {% for D in D %}
      <tr>
        <td>{{ D.name }}</td>
        <td>{{ D.lettre }}</td>
      </tr>
    {% endfor %}
    </tbody-->
  </table>
  </div>
    
<br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
