<app-navbar></app-navbar>
<div class="bg-1 text-center">
    <br/>
  <h1>Liste de tous les groupes</h1>
<br/>
  <div class="table-responsive">          
  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="text-center">Groupe</th>
        <th class="text-center">Equipe 1</th>
        <th class="text-center">Equipe 2</th>
        <th class="text-center">Equipe 3</th>
        <th class="text-center">Equipe 4</th>
      </tr>
    </thead>
    <!--tbody>
      <tr>
        <td>A</td>
        {% for A in A %}
        <td>{{ A.name }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>B</td>
        {% for B in B %}
        <td>{{ B.name }}</td>
        {% endfor %}
      </tr> 
      <tr>
        <td>C</td>
        {% for C in C %}
        <td>{{ C.name }}</td>
        {% endfor %}
      </tr> 
      <tr>
        <td>D</td>
        {% for D in D %}
        <td>{{ D.name }}</td>
        {% endfor %}
      </tr> 
      <tr>
        <td>E</td>
        {% for E in E %}
        <td>{{ E.name }}</td>
        {% endfor %}
      </tr> 
      <tr>
        <td>F</td>
        {% for F in F %}
        <td>{{ F.name }}</td>
        {% endfor %}
      </tr> 
    </tbody-->
  </table>
  </div>
    




    
    
    
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div id="footer">World Football Cup &copy; 2019 Acina Vick<br/>  
</div>
