<app-navbar></app-navbar>
<div class="bg-1 text-center">   
<br/>
  <h1>Classement par groupe</h1>
  <br/><br/>
    
    <div class="item">
      <img class="center-block" src="assets/arnold.gif" alt="arnold"/>
    </div>
    <br/><br/>
    <a href="classement-a" class="btn btn-default">Groupe A</a>
    <a href="classement-b" class="btn btn-default">Groupe B</a><br/>
    <a href="classement-c" class="btn btn-default">Groupe C</a>
    <a href="classement-d" class="btn btn-default">Groupe D</a><br/>
    <a href="classement-e" class="btn btn-default">Groupe E</a>
    <a href="classement-f" class="btn btn-default">Groupe F</a>
  </div>
    
 <br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
