<app-navbar></app-navbar>
<div class="bg-1 text-center">
    <br/>
  <h1>Classement du groupe E :</h1>
<br/>
  <div class="table-responsive">          
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Rank</th>
        <th class="text-center">Equipe</th>
        <th class="text-center">Points</th>
        <th class="text-center">Match joué</th>
        <th class="text-center">Buts</th>
      </tr>
    </thead>
    <!--tbody>
    {% for E in E %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ E.NomEq }}</td>
        <td>{{ E.Points }}</td>
        <td>{{ E.NbMatch }}</td>
        <td>{{ E.ButEq }}</td>
      </tr>
    {% endfor %}
    </tbody-->
  </table>
  </div>
    
 <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
