<app-navbar></app-navbar>
<div class="bg-1 text-center">
<br/>
   <h1> Groupes</h1><br><br>
    
    <div class="item">
      <img class="center-block" src="assets/mane.gif" alt="mane"/>
    </div>
    <br/><br/>
    
              <a href="liste-groupe" class="btn btn-default" >Lister tous les groupes</a>
              <a href="creer-groupe" class="btn btn-default" >Créer un groupe</a>
              <a href="supprimer-groupe" class="btn btn-default" >Supprimer un groupe</a>
<br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
    </div>