<app-navbar></app-navbar>
<div class="bg-1 text-center">   
<br/>
  <h1>Equipes</h1>
  <br/><br/>
    
  <div class="item">
      <img class="center-block" src="assets/cr7.jpg" alt="cr7"/>
    </div>
    
    <br/><br/>
    <a routerLink="/liste-equipe" class="btn btn-default">Liste de toutes les équipes</a>
    <a href="recherche-equipe" class="btn btn-default">Rechercher une équipe par groupe</a>
    <a href="rajouter-equipe" class="btn btn-default">Rajouter une équipe dans un groupe</a>
  </div>
<br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
    </div>